@use "../style/helper/breakpoints" as vars;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 30px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.icons-for-modal {
  @media screen and (min-width: vars.$breakpoint-tablet) {
    display: none;
  }
}
.burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
}

.burger-close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: none;
  align-items: center;
  border: none;
}

.navigation {
  display: none;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    display: flex;
  }
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header-link {
  position: relative;
  color: var(--white-color);
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--white-color);
    bottom: -10px;
    left: 0;
    transition: width 0.3s ease;
  }
  &:hover::after {
    width: 100%;
  }
}
