@use "../style/helper/breakpoints" as vars;

.hero {
  background-image: image-set(
    url(../public/hero/mobX1.webp) 1x,
    url(../public/hero/mobX2.webp) 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-inline: 15px;
  padding-bottom: 193px;
  display: flex;
  background-color: rgba(12, 12, 12, 0.251);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(12, 12, 12, 0.521);
    z-index: 1;
  }

  @media screen and (min-width: vars.$breakpoint-tablet) {
    background-image: image-set(
      url(../public/hero/tabX1.webp) 1x,
      url(../public/hero/tabX2.webp) 2x
    );
    padding-top: 180px;
    padding-bottom: 185px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    background-image: image-set(
      url(../public/hero/descX1.webp) 1x,
      url(../public/hero/descX2.webp) 2x
    );
    padding-top: 280px;
    padding-bottom: 293px;
  }
}

.hero-container {
  margin-inline: auto;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    padding: 0 50px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.cont-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: var(--white-color);
}

.title-hero {
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 20px;
  font-weight: 600;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 35px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 50px;
    line-height: 110%;
  }
}

.desc-hero {
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 15px;
  font-weight: 600;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 22px;
    line-height: 110%;
    margin-bottom: 20px;
  }
}
.text-hero {
  margin-bottom: 15px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 20px;
    line-height: 110%;
  }
}

.text-wrapper {
  font-weight: 600;
  color: var(--collor-light-blue);
}
.btn-hero {
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px;
  background: radial-gradient(
    circle at center,
    var(--collor-yellow) 0%,
    #ffcc02 60%,
    #ffe227 100%
  );
  text-transform: uppercase;
  font-weight: 600;
  color: var(--bg-color);
  font-weight: 500;
  transition: all 250ms;

  &:hover {
    background: radial-gradient(
      circle at center,
      #ffd84d 0%,
      #f0c600 60%,
      #ffcd27 100%
    );
    /* світіння навколо */
    box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.6),
      0 0 30px 10px rgba(225, 193, 12, 0.519);
  }

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 350px;
    height: 56px;
    font-size: 20px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    width: 500px;
    height: 69px;
    font-size: 24px;
  }
}
