@use "./breakpoints" as vars;

:root {
  --bg-color: #0e0d12;
  --bg-help: #1b1e29;

  --bg-table: #1b1e29;
  --bg-second-table: #151821;
  --border-table: #40404087;
  --border-table-hover: #353535;

  --collor-light-blue: #50d8fe;
  --collor-yellow: #fddd14;
  --color-buy-ticket: #f82c56;
  --color-buy-ticket-hover: #ff2936;

  --white-color: #e7e7e7;
  --second-text: #9fa4ae;
  --grey-color: #afb4bf;

  --font-family-base: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--white-color);
  font-family: var(--font-family-base);
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    padding: 0 50px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    max-width: 1200px;
    padding: 0 15px;
  }
}
