<section id="contact" class="section-contact">
  <div class="container">
    <h2 class="contact-title">Зв&apos;яжіться з нами</h2>
    <p class="contact-question">
      Хочеш заказати виступ або маєш питання? Пиши!
    </p>
    <div class="contact-content">
      <form class="form-contact">
        <div>
          <div class="row-input">
            <div class="block-input">
              <label for="" class="label-contatc">Ім&apos;я</label
              ><input
                type="text"
                class="input-contact"
                placeholder=" "
                minlength="3"
                maxlength="20"
                required />
              <p class="text-valid">Succes!</p>
              <p class="text-invalid">
                Поле повинно мати мін. 3, макс. 6 символів
              </p>
            </div>
            <div class="block-input">
              <label for="" class="label-contatc">Email</label
              ><input
                type="email"
                class="input-contact"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                maxlength="30"
                placeholder=" "
                required />
              <p class="text-valid">Succes!</p>
              <p class="text-invalid">Не коректна пошта</p>
            </div>
          </div>

          <div class="block-input">
            <label for="" class="label-contatc">Повідомлення</label
            ><textarea
              class="input-contact textarea"
              placeholder="Розкажи про свої ідеї..."
              minlength="3"
              maxlength="100"></textarea>
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">
              Поле повинно мати мін. 3, макс. 100 символів
            </p>
          </div>
        </div>

        <button class="contact-btn" type="submit">Відправити</button>
      </form>

      <div class="contact-map-block">
        <h4 class="contact-place">Наше місцезнаходження</h4>
        <div class="map-block">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.8764398739615!2d30.5234!3d50.4501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce59cfc2d3ab%3A0x32b0a0c1eb5e7c3b!2sKyiv%2C%20Ukraine!5e0!3m2!1sen!2sus!4v1694932745678!5m2!1sen!2sus"
            width="100%"
            height="400"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
