<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p class="rights-protected">
        &copy; 2025 "Грим та Грім". Всі права захищенні.
      </p>
      <ul class="fotter-list">
        <li class="fotter-item">
          <a href="https://www.instagram.com/" class="footer-link">Instagram</a>
        </li>
        <li class="fotter-item">
          <a href="https://www.youtube.com/" class="footer-link">Youtube</a>
        </li>
        <li class="fotter-item">
          <a href="https://www.facebook.com" class="footer-link">Facebook</a>
        </li>
      </ul>
    </div>
    <address>
      <ul class="footer-address-list">
        <li class="fotter-address-item">
          <a href="mailto:booking@lotoplay" class="address-link"
            >booking@lotoplay</a
          >
        </li>
        <li class="fotter-address-item">
          <a href="tel:+38 (099) 123-45-67" class="address-link"
            >+38 (099) 123-45-67</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
