<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="title-gallery">Учасники гурту</h2>
    <div class="swiper">
      <ul class="list-gallery">
        <li class="item-gallery">
          <figure class="figure">
            <img
              srcset="/gallery/Maks_x1.webp 1x, /gallery/Maks_x2.webp 2x"
              src="/gallery/Maks_x1.webp"
              alt="Maks"
              loading="lazy"
              class="img-galery" />
            <figcaption class="figcaption">Максим &mdash; гітара</figcaption>
          </figure>
        </li>
        <li class="item-gallery">
          <figure class="figure">
            <img
              srcset="/gallery/Olena_x1.webp 1x, /gallery/Olena_x1.webp 2x"
              src="/gallery/Olena_x1.webp"
              alt="Olena"
              loading="lazy"
              class="img-galery" />
            <figcaption class="figcaption">Максим &mdash; гітара</figcaption>
          </figure>
        </li>
        <li class="item-gallery">
          <figure class="figure">
            <img
              srcset="/gallery/Taras_x1.webp 1x, /gallery/Taras_x2.webp 2x"
              src="/gallery/Taras_x2.webp.webp"
              alt="Taras"
              loading="lazy"
              class="img-galery" />
            <figcaption class="figcaption">Максим &mdash; гітара</figcaption>
          </figure>
        </li>
      </ul>
      <div class="pagination-gallery">
        <button class="btn-pagination-gallery swiper-button-prev">
          <svg class="icon-gallery" Width="15" Height="19">
            <use href="/icon/symbol-defs.svg#icon-left"></use>
          </svg>
        </button>
        <button class="btn-pagination-gallery swiper-button-next">
          <svg class="icon-gallery" Width="15" Height="19">
            <use href="/icon/symbol-defs.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
