<header class="header">
  <div class="header-container container">
    <a class="logo" href="/">G&amp;G</a>
    <div class="icons-for-modal">
      <button class="burger-btn" data-custom-open="modal-1">
        <svg class="burger-icon" width="28" height="15">
          <use href="/icon/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation">
      <ul class="header-list">
        <li class="header-list-iteam">
          <a href="#about-us" class="header-link">Про гурт</a>
        </li>
        <li class="header-list-iteam">
          <a href="#concerts" class="header-link">Концерти</a>
        </li>
        <li class="header-list-iteam">
          <a href="#gallery" class="header-link">Галерея</a>
        </li>
        <li class="header-list-iteam">
          <a href="#contact" class="header-link">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
