<section class="hero">
  <div class="hero-container">
    <div class="cont-text">
      <h1 class="title-hero">Гурт "Грим та Грім"</h1>
      <p class="desc-hero">Справжній український рок, який гуркоче в серці.</p>
      <p class="text-hero">
        «Грим та Грім» — це поєднання
        <span class="text-wrapper">потужних</span> гітарних рифів, чесних
        текстів і вибухової енергії сцени. Ми граємо для тих, хто цінує живий
        звук, свободу та силу музики.
      </p>
      <p class="text-hero">
        <span class="text-wrapper">Наші концерти</span> це завжди контакт з
        залом, драйв і емоції. Приєднуйся до нас на найближчих виступах і відчуй
        цей саунд наживо!
      </p>
      <button class="btn-hero" data-custom-open="modal-2">
        Замовити квиток
      </button>
    </div>
  </div>
</section>
