<div class="modal-burger" id="modal-1" data-custom-close>
  <div>
    <div class="modal__overley">
      <ul class="modal-list">
        <li class="item-modal">
          <a href="#about-us" class="modal-link">Про гурт</a>
        </li>
        <li class="item-modal">
          <a href="#concerts" class="modal-link">Концерти</a>
        </li>
        <li class="item-modal">
          <a href="#gallery" class="modal-link">Галерея</a>
        </li>
        <li class="item-modal">
          <a href="#contact" class="modal-link">Контакти</a>
        </li>
      </ul>
    </div>
  </div>
</div>
